modules = ["nodejs-20", "web", "python-3.11", "python3", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["awsebcli", "c-ares", "cacert", "cargo", "gcc", "glibcLocales", "grpc", "libffi", "libiconv", "libxcrypt", "openssl", "pkg-config", "postgresql", "rustc", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && yarn start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export LD_LIBRARY_PATH=/nix/store/bmi5znnqk4kg2grkrhk6py0irc8phf6l-gcc-14.2.1.20250322-lib/lib:$LD_LIBRARY_PATH && cd backend && python -m uvicorn server:app --host 0.0.0.0 --port 8080"
waitForPort = 8080

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 35209
externalPort = 6000

[[ports]]
localPort = 39183
externalPort = 6800

[[ports]]
localPort = 39431
externalPort = 4200

[[ports]]
localPort = 40207
externalPort = 5173

[[ports]]
localPort = 40777
externalPort = 5000

[[ports]]
localPort = 41675
externalPort = 8008

[[ports]]
localPort = 44371
externalPort = 8000

[[ports]]
localPort = 44503
externalPort = 3003

[[ports]]
localPort = 45603
externalPort = 3000

[[ports]]
localPort = 46073
externalPort = 3001

[[ports]]
localPort = 46119
externalPort = 8081

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "uvicorn backend.server:app --host 0.0.0.0 --port 8080 & cd frontend && PORT=5000 REACT_APP_BACKEND_URL=https://$REPL_SLUG.$REPL_OWNER.repl.co npm start"]
